################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
/source/.vs
/source/*/obj
/source/*/bin
/.vs
/source/TestResults
/source/Vitol.Enzo.CRM.ServiceProviderInterface/obj/Release/netcoreapp2.1
/source/Vitol.Enzo.CRM.Infrastructure/bin/Release
/source/Vitol.Enzo.CRM.Infrastructure/obj/Release
/source/Vitol.Enzo.CRM.API.TriggerService/bin/Release
/source/Vitol.Enzo.CRM.API.TriggerService/obj/Release
